@media screen and (min-width: 550px) {
  .homepage-landing {
    min-height: 330px;
    justify-content: center;
  }

  // admin
  .sidebar-admin {
    width: 12%;

    &:hover {
      width: 40%;
    }

    .admin-button {
      height: 8vh;
    }
  }

  .admin-header {
    height: 8vh;
  }

  .admin-main-content {
    width: 88%;
  }
}

@media screen and (min-width: 768px) {

  .nav-link {
    font-size: 1.5rem;
  }
  .homepage-landing {
    height: 50vh;
    justify-content: flex-start;
  }
  .logo-img {
    width: 83%;
  }

  .tel {
    position: absolute;
    top: 10rem;
    right: 0;
    border-radius: 7px 0 0 7px;
    margin: 0;
    padding: 1.5rem;
  }

  .massage-amma {
    font-size: 1.5rem;
  }

  // admin

  .sidebar-admin {
    width: 10%;

    &:hover {
      width: 35%;
    }
  }

  .admin-main-content {
    width: 90%;
  }

  .admin-content {
    padding: 3rem;
  }
}

@media screen and (min-width: 1000px) {
  .homepage-landing {
    height: 73vh;
  }

  .logo-img {
    width: 70%;
  }
  .nav-link {
    font-size: 1rem;
  }

  // admin

  .sidebar-admin {
    width: 7%;

    &:hover {
      width: 25%;
    }
  }

  .admin-main-content {
    width: 93%;
  }

  .form-text {
    text-align: center;
  }
}

/*===========
MEDIUM SCREENS
===========*/

@media screen and (min-width: 1200px) {
  .sidebar-admin {
    width: 5%;

    &:hover {
      width: 20%;
    }
  }

  .admin-main-content {
    width: 95%;
  }
}

@media screen and (min-width: 1600px) {
  // admin
  .sidebar-admin {
    width: 4%;

    &:hover {
      width: 15%;
    }
  }

  .admin-main-content {
    width: 96%;
  }
}
